<!DOCTYPE html>
<html>
<head>
	<title>Graduate Tracker</title>
</head>
<body>
	<% for (var i = 0; i < graduates.length; i++) { %>
			<%= graduates[i].studentId %>
			<%= graduates[i].firstName %>
			<%= graduates[i].lastName %>
			<%= graduates[i].status %>
	<% } %>
</body>
</html>