<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<p> Login </p>
    <form action='login' method='post'>
        <input type='text' name='email' placeholder="email">
        <input type='password' name='password' placeholder="password">
        <input type='submit' value='Login'>
    </form>

     <form action="http://localhost:8888/register">
        <input type="submit" value="Go to Register" />
    </form>
</body>

</html>
